body{
  font-family: 'Open Sans', sans-serif;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
#root{
  text-align: center;
}
a{
  color: white;
  text-decoration: none;
}
.st-a{
  font-size: 40px;
  background-color: rgb(196, 96, 66);
  padding: 20px 30px;
}
.home-button{
  position: absolute;
  top: 0;
  left: 0;
}
.logout-button{
  position: absolute;
  top: 0;
  right: 0;
}
.st-a:hover{
  background-color: rgb(187, 85, 54);
}
.welcome-phrase{
  color: white;
  font-size: 50px;
}
.welcome-phrase span{
  color: brown;
  background-color: white;
  padding: 0 5px;
}
.form{
  background-color: rgb(187, 85, 54);
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 50px 35px;
  border-radius: 15px;
}
.form label{
  font-size: 25px;
}
.form input, .form textarea{
  font-size: 20px;
  padding: 10px 40px;
  margin: 10px;
  text-align: center;
}
.form .submit{
  margin-top: 10px;
  cursor: pointer;
}
.fpw-form div{
  display: flex;
  justify-content: space-around;
}
.fpw-form span{
  color: white;
}

.sendMailWindow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.5);
}
.sendMailForm{
  width: 75vw;
  height: 74vh;
  flex-flow: column;
  position: relative;
  margin: 5vh auto;
}
.sendMailForm .row{
  width: 100%;
  display: flex;
}
.sendMailForm .row:last-child{
  flex-direction: row-reverse;
}
.sendMailForm label{
  flex: 1;
  min-width: 17%;
  text-align: right;
}
.sendMailForm input, .sendMailForm textarea{
  margin-top: 0;
  text-align: left;
  flex: 5;
  font-size: 16px;
}
.sendMailForm .msgContent{
  height: 280px;
}
.sendMailForm .submit{
  max-width: 70px;
  padding: 5px 10px;
  margin-top: 0;
}
.sendMailWindowClose{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color:rgb(162, 61, 30);
  border: 0;
  font-size: 20px;
  padding: 5px 12px;
  color:white;
  border-radius: 50%;
  cursor: pointer;
}